* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(214, 203, 180);
    color: rgb(61, 40, 23);
    font-family: monospace, sans-serif;
}

header{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}


main {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

button {
    background-color: rgb(214, 203, 180);
    border: 5px solid rgb(61, 40, 23);
    font-size: 24px;
    padding: 1rem 2rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 640px;
    height: 640px;
}

.cell {
    background-color: rgb(245, 242, 239);
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.enabled {
    background-color: rgb(202, 187, 164);
}

#colorpicker {
    width: 100px;
    height: 100px;
    border-style: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
    background-color: rgb(202, 187, 164);
}