* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

header{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}


main {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 480px;
    height: 480px;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: black;
}